img{
  width: 50%;
  height: 30%;
  cursor: pointer;
}

#container{
  float: right;
  width: 60%;
}

ul#cat-ames{
  width: 30%;
  float: left;
}
#cat-names li{
  list-style: none;
  cursor: pointer;
  padding: 15px;
}
